In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import acquire
import prepare
from sklearn.model_selection import train_test_split
from scipy import stats

In [3]:
# acquiring the iris data set
iris_df = acquire.get_iris_data()
iris_df

,species_id,measurement_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,1,setosa,5.1,3.5,1.4,0.2
1,1,2,setosa,4.9,3.0,1.4,0.2
2,1,3,setosa,4.7,3.2,1.3,0.2
3,1,4,setosa,4.6,3.1,1.5,0.2
4,1,5,setosa,5.0,3.6,1.4,0.2
...,...,...,...,...,...,...,...
145,3,146,virginica,6.7,3.0,5.2,2.3
146,3,147,virginica,6.3,2.5,5.0,1.9
147,3,148,virginica,6.5,3.0,5.2,2.0
148,3,149,virginica,6.2,3.4,5.4,2.3
149,3,150,virginica,5.9,3.0,5.1,1.8

In [4]:
# dropping the species id and the measurement id
iris_df = iris_df.drop('species_id',axis=1)
iris_df = iris_df.drop('measurement_id', axis =1)
iris_df

    species_name  sepal_length  sepal_width  petal_length  petal_width
0         setosa           5.1          3.5           1.4          0.2
1         setosa           4.9          3.0           1.4          0.2
2         setosa           4.7          3.2           1.3          0.2
3         setosa           4.6          3.1           1.5          0.2
4         setosa           5.0          3.6           1.4          0.2
..           ...           ...          ...           ...          ...
145    virginica           6.7          3.0           5.2          2.3
146    virginica           6.3          2.5           5.0          1.9
147    virginica           6.5          3.0           5.2          2.0
148    virginica           6.2          3.4           5.4          2.3
149    virginica           5.9          3.0           5.1          1.8

[150 rows x 5 columns]

In [ ]:
train_and_validate, test = train_test_split(
    iris_df,
    test_size=.15,
    random_state=123,
)
train, validate = train_test_split(
    train_and_validate,
    test_size=.15,
    random_state=123,
)

print('overall shape', iris.shape)
print('train', train.shape)
print('validate', validate.shape)
print('test', test.shape)

In [ ]:
def iris_split():

    train, test = train_test_split(iris_df, 
                                  test_size=.2, 
                                  random_state=123, 
                                  stratify=iris_df.species_name)
    train, validate = train_test_split(iris_df, 
                                       test_size=.3, 
                                       random_state=123, 
                                       stratify=iris_df.species_name)
   
    return train, validate, test

In [ ]:
iris_df = pd.concat([iris_df, df_dummies])
iris_df

In [ ]:
iris_df = iris_df.melt(id_vars = ["sepal_length", "sepal_width", "petal_length", 
                                 "petal_width"],var_name = "species_name")

In [ ]:
iris_df.head(400)

In [ ]:
df = df.melt(id_vars = "Unnamed: 0", var_name = "date", value_name = "score" )

In [ ]:
words = pd.read_csv("/usr/share/dict/words")
words.head(10)
words = words[words["A"].str.len() ==5]
words

In [ ]:
alphabet = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s',
           't','u','v','w','x','y','z']

In [ ]:
letters = "abyz"

numbers = [ord(letter) - 96 for letter in letters]

print(numbers)
sum(numbers)
sum(numbers[1:4])

In [ ]:
def new_word(letter):
    numbers = [ord(letter) - 96 for letter in letters]
    for char in letter:
        if letter[1:4] == letter[0]:
            return letter
new_word(words)